{% extends "home.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    .main {
        position: relative;
        width: fit-content;
        padding: 10px;
        background-color: rgb(211, 212, 210);
        height: fit-content;
    }

    .docinput {
        width: 400px;
        border-radius: .2rem;
    }

    .options {
        display: flex;
        gap: 5px;
    }

    .table {
        position: relative;
        width:max-content;
    }

    .container {
        display: flex;
        gap: 20px;
        padding: 20px;
        background-color: rgb(243, 241, 241) ;
        position: relative;
        top: 50px;
        opacity: 0;
        transition: opacity 0.8s ease-in;
    }
    .container.show {
      opacity: 1; /* Fully visible */
    }

    .unit {
        background-color: #fff;
        width: fit-content;
        padding: 20px;
        box-shadow: 0 0 20px black;

    }
    .hidden{
        display: none;
    }

    .select {
        display: flex;
        justify-content: space-between;
    }

    .full {
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 10px;
    }

    .main2 {
        justify-content: center;
        gap: 20px;

    }

    input{
        width: 400px;
        height: 35px;
    }
    a{
        text-decoration: none;
        color: unset;
    }
</style>

<body>
    <div class="container">
        <div class="full">
            <div class="headings" style="width: 18rem;">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <a href="" class="toggle-btn" data-target="unit1"> <li class="list-group-item"><i class="fa-solid fa-hospital-user"></i></i>Dental Work</li></a>
                        <a href=""class="toggle-btn" data-target="unit2"><li class="list-group-item"><i class="fa-solid fa-suitcase-medical"></i>Add Laboratories</li></a>

                    </ul>
                </div>
            </div>



            <div class="unit" id="unit1">
                <div class="main2">
                    <h5>Dental Work</h5>
                    <input type="text" placeholder="Work Name" name="workname">
                    <input type="text" placeholder="Shade" name="shade"><br><br>
                    <input type="text" placeholder="Work Type" name="worktype">
                    <input type="text" placeholder="Alloy Type" name="alloytype"><br><hr>
                    <button class="btn btn-primary">Save</button>
                </div><br><br>
                <h4>List All Dental Work</h4>
                <br>

                <br>
                <div class="select">
                    <div class="options">
                        <p><b>show</b></p>
                        <select name="" id="" style="height: 30px; width:50px;">
                            <option value="">10</option>
                            <option value="">15</option>
                            <option value="">20</option>
                        </select>
                        <p><b>Entries</b></p>
                    </div>
                    <div>
                        <input type="search" placeholder="Search">
                    </div>
                </div>
                <table class="table table-bordered" style="width:900px;">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Work Name</th>
                            <th scope="col">Shade</th>
                            <th scope="col">Work Type</th>
                            <th scope="col">Alloy Type</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>

                        </tr>



                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                    </ul>
                </nav>
            </div>
            <div class="unit hidden" id="unit2">
                <div class="main2">
                    <h5>Add Laboratories</h5>
                    <input type="text" placeholder="Lab Name" name="labname">
                    <input type="text" placeholder="Lab Type" name="labtype"><br><br>
                    <input type="text" placeholder="Phone" name="phone">
                    <input type="text" placeholder="Executive Name" name="excecutive"><br><br>
                    <textarea name="address" id="" cols="30" rows="3">Address</textarea><br><hr>
                    <button class="btn btn-primary" style="position: relative; bottom: 15px;">Save</button>
                </div><br><br>
                <h4>List All Lab Name</h4>
                <br>

                <br>
                <div class="select">
                    <div class="options">
                        <p><b>show</b></p>
                        <select name="" id="" style="height: 30px; width:50px;">
                            <option value="">10</option>
                            <option value="">15</option>
                            <option value="">20</option>
                        </select>
                        <p><b>Entries</b></p>
                    </div>
                    <div>
                        <input type="search" placeholder="Search" style="border-radius: .2rem; border: unset;">
                    </div>
                </div>
                <table class="table table-bordered" style="width:900px;">
                    <thead>
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Lab Name</th>
                            <th scope="col">company Code</th>
                            <th scope="col">company Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Web</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>

                        </tr>



                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButtons = document.querySelectorAll('.toggle-btn');
            const divsToToggle = document.querySelectorAll('.unit');

            toggleButtons.forEach((button) => {
                button.addEventListener('click', (e) => {
                    e.preventDefault();
                    const targetId = button.getAttribute('data-target');

                    // Hide all divs
                    divsToToggle.forEach((div) => {
                        div.classList.add('hidden');
                    });

                    // Show the targeted div
                    const targetDiv = document.getElementById(targetId);
                    if (targetDiv) {
                        targetDiv.classList.remove('hidden');
                    }
                });
            })
        });
        document.addEventListener('DOMContentLoaded', function() {
      var container = document.querySelector('.container');
      setTimeout(function() {
        container.classList.add('show');
      }, 100); // Adding a slight delay to ensure the transition effect
    });
    </script>
</body>
{% endblock %}

</html>