{% extends "home.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<style>
    /* .main {
        position: relative;
        width: fit-content;
        padding: 10px;
        background-color: rgb(211, 212, 210);
        height: fit-content;
    } */

    .docinput {
        width: 400px;
        border-radius: .2rem;
    }

    .options {
        display: flex;
        gap: 5px;
    }

    .table {
        position: relative;
        width: 40%;
    }

    .container {
        padding: 20px;
        background-color: rgb(243, 241, 241);
        width: fit-content;
        height: fit-content;
        position: relative;
        top: 50px;
        opacity: 0;
        transition: opacity 0.8s ease-in;
    }

    .container.show {
        opacity: 1;
        /* Fully visible */
    }

    .main1,
    .main2 {
        background-color: #fff;
        box-shadow: 0 0 20px black;
        width: fit-content;
        padding: 20px;

    }

    .unit {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hidden {
        display: none;
    }

    .select {
        display: flex;
        justify-content: space-between;
    }

    .full {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .main2 {
        justify-content: center;
        gap: 20px;

    }

    input,
    textarea {
        width: 350px;
        height: 35px;
    }

    a {
        text-decoration: none;
        color: unset;
    }

    .sub,
    .sub1 {
        display: flex;
        gap: 10px;
    }

</style>

<body>
    <div class="container">
        <div class="full">
            <div class="headings" style="width: 18rem;">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <a href="" class="toggle-btn" data-target="unit1">
                            <li class="list-group-item"><i class="fa-solid fa-hospital-user"></i></i>Supplier</li>
                        </a>
                        <a href="" class="toggle-btn" data-target="unit2">
                            <li class="list-group-item"><i class="fa-solid fa-suitcase-medical"></i> Unit</li>
                        </a>
                        <a href="" class="toggle-btn" data-target="unit3">
                            <li class="list-group-item"><i class="fa-solid fa-sack-dollar"></i>Item</li>
                        </a>
                        <a href="" class="toggle-btn" data-target="unit4">
                            <li class="list-group-item"><i class="fa-solid fa-print"></i>Category</li>
                        </a>
                        <a href="" class="toggle-btn" data-target="unit5">
                            <li class="list-group-item"><i class="fa-solid fa-credit-card"></i>Manufacture</li>
                        </a>

                    </ul>
                </div>
            </div>
                <div class="unit" id="unit1">
                    <form action="pharmacysupply" method="POST">
                        {% csrf_token %}
                        <div class="main1">
                            <h5>Add Supplier</h5>
                            <div class="sub">
                                <div class="submain1">
                                    <input type="text" placeholder="Supplier Name" name="Suppliername"><br><br>
                                    <input type="number" placeholder="Company Code" name="companycode"><br><br>
                                    <input type="text" placeholder="Contact Name" name="contactname"><br><br>
                                    <input type="email" placeholder="Email" name="email"><br><br>
                                </div>
                                <div class="submain">
                                    <input type="text" placeholder="Web" name="web"><br><br>
                                    <input type="number" placeholder="Phone" name="phone"><br><br>
                                    <textarea name="address" id="" cols="26" rows="1"
                                        style="position: relative; top: 11px;" placeholder="Address"></textarea><br><br>
                                </div>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div class="main2">
                        <h4>List All Supplier</h4>
                        <br>

                        <br>
                        <div class="select">
                            <div class="options">
                                <p><b>show</b></p>
                                <select name="" id="" style="height: 30px; width:50px;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                </select>
                                <p><b>Entries</b></p>
                            </div>
                            <div>
                                <input type="search" placeholder="Search">
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Supplier Type</th>
                                    <th scope="col">Company Code</th>
                                    <th>Company Name</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>Web</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in supplier %}
                                <tr>
                                    <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>
                                    <td>{{i.suppilername}}</td>
                                    <td>{{i.companycode}}</td>
                                    <td>{{i.companyname}}</td>
                                    <td>{{i.contactname}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.web}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>{{i.address}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="unit hidden" id="unit2">
                    <form action="pharmacyunit" method="POST">
                        {% csrf_token %}
                        <div class="main1">
                            <h5>Add Unit</h5>
                            <input type="text" placeholder="unit" name="unit"><br>
                            <hr>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div class="main2">
                        <h4>List All Unit</h4>
                        <br>

                        <br>
                        <div class="select">
                            <div class="options">
                                <p><b>show</b></p>
                                <select name="" id="" style="height: 30px; width:50px;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                </select>
                                <p><b>Entries</b></p>
                            </div>
                            <div>
                                <input type="search" placeholder="Search" style="border-radius: .2rem; border: unset;">
                            </div>
                        </div>
                        <table class="table table-bordered" style="width: 600px;">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in pharmacyunit %}
                                <tr>
                                    <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>
                                    <td>{{i.unit}}</td>

                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="unit hidden" id="unit3">
                    <form action="pharmacyitems" method="POST">
                        {% csrf_token %}
                        <div class="main1">
                            <h5>Add Item</h5>
                            <div class="sub1">
                                <div class="submain1">
                                    <input type="text" placeholder="Item Name" name="item name"><br><br>
                                    <input type="text" placeholder="Molecules" name="molecules"><br><br>
                                    <input type="number" placeholder="Item Code" name="itemcode"><br><br>
                                    <select name="formulation" id="formulation"
                                        style="height: 35px;width: 350px;position: relative;">
                                        <option value="manufature">Manufature</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select><br><br>
                                </div>
                                <div class="submain2">
                                    <select name="formulation" id=""
                                        style="width: 350px;position: relative;height: 35px;">
                                        <option value="Formulation">Formulation</option>
                                        <option value="jhg">jhg</option>
                                        <option value="jgity">jgity</option>
                                        <option value="utu">utu</option>
                                        <option value="kj">kj</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select><br><br>
                                    <select name="" id="" style="width: 350px;position: relative;height: 35px;">
                                        <option value="unitfirst">Unit First</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select><br><br>
                                    <input type="number" placeholder="Convert Box" name="convertbox"><br><br>
                                    <select name="" id="" style="width: 350px;position: relative; height: 35px;">
                                        <option value="unitsecond">Unit Second</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select> <br><br>
                                </div>
                                <div class="submain3">
                                    <input type="number" placeholder="Taxable" name="taxable"><br><br>
                                    <input type="number" placeholder="purchaserate" name="Purchase Rate"><br><br>
                                    <input type="number" placeholder="Sales Rate" name="salesrate"><br><br>
                                </div>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div class="main2">
                        <h4>List All Items</h4>
                        <br>

                        <br>
                        <div class="select">
                            <div class="options">
                                <p><b>show</b></p>
                                <select name="" id="" style="height: 30px; width:50px;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                </select>
                                <p><b>Entries</b></p>
                            </div>
                            <div>
                                <input type="search" placeholder="Search" style="border-radius: .2rem; border: unset;">
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Item Code</th>
                                    <th>Is Batch No</th>
                                    <th>Category</th>
                                    <th>Manufacture</th>
                                    <th>Unit</th>
                                    <th>Purchase Rate</th>
                                    <th>Sales Rate</th>
                                    <th>Tax</th>
                                    <th>Taxable</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in phitem %}
                                <tr>
                                    <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>
                                    <td>{{i.itemname}}</td>
                                    <td>{{i.unit}}</td>
                                    <td>{{i.batchno}}</td>
                                    <td>{{i.category}}</td>
                                    <td>{{i.manufacture}}</td>
                                    <td>{{i.unit}}</td>
                                    <td>{{i.purchase}}</td>
                                    <td>{{i.salesrate}}</td>
                                    <td>{{i.tax}}</td>
                                    <td>{{i.taxable}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="unit hidden" id="unit4">
                    <form action="categories" method="POST">
                        {% csrf_token %}
                        <div class="main1">
                            <h5>Category</h5>
                            <input type="text" placeholder="Category Name" name="category">
                            <input type="number" placeholder="Category Code" name="categorycode">
                            <textarea name="description" id="" cols="30" rows="2" style="position: relative;top: 28px;"
                                placeholder="description"></textarea><br><br>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div class="main2">
                        <h4>List All Category</h4>
                        <br>
                        <br>
                        <div class="select">
                            <div class="options">
                                <p><b>show</b></p>
                                <select name="" id="" style="height: 30px; width:50px;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                </select>
                                <p><b>Entries</b></p>
                            </div>
                            <div>
                                <input type="search" placeholder="Search" style="border-radius: .2rem; border: unset;">
                            </div>
                        </div>
                        <table class="table table-bordered" style="width: 1000px;position: relative;">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Category Code</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in phcat %}
                                <tr>
                                    <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>
                                    <td>{{i.itemname}}</td>
                                    <td>{{i.manufacture}}</td>
                                    <td>{{i.description}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="unit hidden" id="unit5">
                    <form action="manufacture" method="POST">
                        {% csrf_token %}
                        <div class="main1">
                            <h5>Add Manufacture</h5>
                            <input type="text" placeholder="Manufacture" name="manufacture">
                            <input type="number" placeholder="Compony Code" name="companycode"><br><br>
                            <input type="text" placeholder="Compony Name" name="companyname">
                            <input type="text" placeholder="Contact Name" name="contactname"><br><br>
                            <input type="email" placeholder="Email" name="email">
                            <input type="text" placeholder="Web" name="web"><br><br>
                            <input type="number" placeholder="Phone" name="phone">
                            <input type="Text" placeholder="Address" name="address"><br>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                    <div class="main2">
                        <h4>List All Manufacture</h4>
                        <br>

                        <br>
                        <div class="select">
                            <div class="options">
                                <p><b>show</b></p>
                                <select name="" id="" style="height: 30px; width:50px;">
                                    <option value="">10</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                </select>
                                <p><b>Entries</b></p>
                            </div>
                            <div>
                                <input type="search" placeholder="Search" style="border-radius: .2rem; border: unset;">
                            </div>
                        </div>
                        <table class="table table-bordered" style="width: 500px;position: relative;">
                            <thead>
                                <tr>
                                    <th scope="col">Action</th>
                                    <th scope="col">Manufacture</th>
                                    <th scope="col">Compony Code</th>
                                    <th>Compony Name</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>Web</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in phman %}
                                <tr>
                                    <td><i class="fa-solid fa-trash" style="color: #060606;"></i></td>
                                    <td>{{i.manufacture}}</td>
                                    <td>{{i.companycode}}</td>
                                    <td>{{i.companyname}}</td>
                                    <td>{{i.contactname}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.web}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>{{i.address}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next >></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButtons = document.querySelectorAll('.toggle-btn');
            const divsToToggle = document.querySelectorAll('.unit');

            toggleButtons.forEach((button) => {
                button.addEventListener('click', (e) => {
                    e.preventDefault();
                    const targetId = button.getAttribute('data-target');

                    // Hide all divs
                    divsToToggle.forEach((div) => {
                        div.classList.add('hidden');
                    });

                    // Show the targeted div
                    const targetDiv = document.getElementById(targetId);
                    if (targetDiv) {
                        targetDiv.classList.remove('hidden');
                    }
                });
            })
        });
        document.addEventListener('DOMContentLoaded', function () {
            var container = document.querySelector('.container');
            setTimeout(function () {
                container.classList.add('show');
            }, 100); // Adding a slight delay to ensure the transition effect
        });
        $(document).ready(function () {
            $('#searchable-dropdown').select2({
                placeholder: "Select a state",
                allowClear: true
            });
        });

    </script>
</body>
{% endblock %}

</html>